body {
        margin: 0;
        padding: 0;
        color: #333;
        background: url(/img/loginskin/polaroid/polaroid.png) repeat;
        font-size: 14px;
        font-family: 'Raleway', sans-serif;
        text-align: center;
}
a {
        font-family: 'Raleway', sans-serif;
}
header {
        background-color: #E2EAF0;
}
form {
        margin: 0;
}
.button {
        border: hidden;
        border-radius: 5px;
        background: #BAE2EB;
        font-size: 14px;
        width: 20%;
        min-width: 30px;
        padding: 5px 5px 5px 5px;
        margin-left: auto;
        margin-right: auto;
		font-family: 'Raleway', sans-serif;
}
.button_wide {
    border: hidden;
    border-radius: 5px;
    background: #BAE2EB;
    font-size: 14px;
    width: 40%;
    min-width: 60px;
    padding: 5px 5px 5px 5px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Raleway', sans-serif;
}
.content {
        margin: 10% auto 0 auto;
        width: 40%;
        max-width: 400px;
        border-radius: 10px;
        padding: 25px 25px 25px 25px;
        background: #FDFDFD;
        box-shadow: 5px 5px 5px #B3C0D2;
}
.central {
        text-align: center;
}
.logo {
        font-size: 30px;
        padding: 5px 15px 15px 15px;
}
.forgotpassword {
        text-align: center;
        padding-top: 15px;
		font-family: 'Raleway', sans-serif;
}
.forgotpwd {
        font-family: 'Raleway', sans-serif;
        text-align: center;
}
.login {
        text-align: left;
}
.inputfield {
        border: #666 solid 1px;
        padding: 5px 10px 5px 10px;
        margin: 5px 5px 5px 5px;
        border-radius: 5px;
}
.inputbox {
        color: #000000;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        border: hidden;
        width: 100%;
        padding: 5px 5px 5px 5px;
        margin: 0 5px 0 5px;
}
.copy {
		font-family: 'Raleway', sans-serif;
        padding-top: 20px;
        font-size: 13px;
}
.copy a {
        padding-top: 20px;
        font-size: 13px;
}
.version {
        font-size: 0.8em;
}
.message {
        margin-top: 10px; 
        padding: 7px; 
        width: 400px;
        border: 1px solid #B22222;
        background: #F1F3F5;
        color: #B22222; 
        font-weight: bold;
        font-size: 13px;
}